<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <!-- تضمين Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles/new">New Article</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container mt-4">
    <h1>Blog</h1>
    
    <div class="row mt-4">
      <% articles.forEach(function(article) { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <% if (article.image) { %>
              <img src="/<%= article.image %>" class="card-img-top" alt="Article Image">
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text"><%= article.content %></p>
              <a href="/articles/<%= article.id %>" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <!-- تضمين Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
